&flash0 {
    /delete-node/ partitions;

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 0x0000c000>;
        };
        slot0_partition: partition@c000 {
            label = "image-0";
            reg = <0x0000c000 0x00073000>;
        };
        slot1_partition: partition@7f000 {
            label = "image-1";
            reg = <0x0007f000 0x00073000>;
        };
        storage_partition: partition@f2000 {
            label = "storage";
            reg = <0x000f2000 0x0000e000>;
        };
    };
};
